 h1 {
    color: blanchedalmond;
    text-align: center;
    background-color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
 }
 li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-weight: 600;
 }
 .recipeList {
    border: 2px dashed blue;
    display: inline-block;
    padding: 10px;
 }
 .homer {
    font-size: large;
    background-color: azure;
 }
 h2 {
    color: brown;
    background-color: silver;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
 }
 h3 {
    color: hotpink;
    background-color: navajowhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 img {
    float: right;
    margin-left: 5px;
 }